<table>
  <thead>
    <tr>
      <th>
        Address Type
      </th>
      <th>
        City
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Order Date
      </th>
      <th>
        State
      </th>
      <th>
        Street
      </th>
      <th>
        Total
      </th>
      <th>
        Zip Code
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="order" ng-repeat="order in orders.orders">
      <td><input type="text" name="address_type" class="form-control col-md-1" ng-model="order.address_type"/></td>
      <td><input type="text" name="city" class="form-control col-md-1" ng-model="order.city"/></td>
      <td><input type="text" name="first_name" class="form-control col-md-1" ng-model="order.first_name"/></td>
      <td><input type="text" name="last_name" class="form-control col-md-1" ng-model="order.last_name"/></td>
      <td><input type="text" name="order_date" class="form-control col-md-1" ng-model="order.order_date"/></td>
      <td><input type="text" name="state" class="form-control col-md-1" ng-model="order.state"/></td>
      <td><input type="text" name="street" class="form-control col-md-1" ng-model="order.street"/></td>
      <td><input type="text" name="total" class="form-control col-md-1" ng-model="order.total"/></td>
      <td><input type="text" name="zip" class="form-control col-md-1" ng-model="order.zip"/></td>
    </tr>
  </tbody>
</table>
