<div class="orders" ng-repeat="orders in OrdersController.orders">
  <input type="number" name="address_id" class="form-control" ng-model="orders.address_id">
  <input type="text" name="address_type" class="form-control" ng-model="orders.address_type">
  <input type="text" name="city" class="form-control" ng-model="orders.city">
  <input type="number" name="customer_id" class="form-control" ng-model="orders.customer_id">
  <input type="text" name="first_name" class="form-control" ng-model="orders.first_name">
  <input type="number" name="id" class="form-control" ng-model="orders.id">
  <input type="text" name="last_name" class="form-control" ng-model="orders.last_name">
  <input type="text" name="order_date" class="form-control" ng-model="orders.order_date">
  <input type="text" name="state" class="form-control" ng-model="orders.state">
  <input type="text" name="street" class="form-control" ng-model="orders.street">
  <input type="text" name="total" class="form-control" ng-model="orders.total">
  <input type="text" name="zip" class="form-control" ng-model="orders.zip">
</div>
